
body{
  display: flex;
  justify-content: center;
  width: 100%;
}

#up{
  display: flex;
  flex-direction: column;
  height: 50%;
  text-align: center;
}

#up p{
  width: 100%;
  margin:0px;
}

#down p{
  width: 100%;
  margin:0px;
}

#down{
  display: flex;
  flex-direction: column;
  height: 50%;
  text-align: center;
  justify-content: flex-end;
}


.dog{
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: url("./assets/doge.jpg");
  height: 660px;
  background-size: cover;
  width: 650px;
  font-family: impact;
  font-size: 4em;
  color:white;
  text-shadow: .05em .05em #000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

